@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-color: #282c34;  
}

.App-header {
  padding-top: 1.5em;
  padding-left: 1.5em;  
  display: flex;
  flex-direction: column;
  height:25em;
  overflow-y:auto;
}

  label.label-user, 
  label.label-ai {
    color: #FFFFFF;
    font-size: .94em;
    font-family: "Open Sans", "sans-serif";
    line-height: 2em;
    padding-bottom: .75em;
    
  }

.input-area {
  background-color: #282c34;
  height:2.5em;
  padding-left: 1.5em;  
}

  .input-area input[type="text"] {
    border: 0.24em solid gray;
  }

  .input-area input {
    font-size: .94em;
    font-family: "Open Sans", "sans-serif";
    width:90%;
    padding: .65em
  }
