<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- <meta charset="ISO_8859_1"> -->
    <title>ollama</title>
    <style>
        body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
    </style>
</head>
<body>
<p>Welcome</p>
<p>Today: [[${currentDate}]]</p>

<br/>
<br/>
<!--
<form method="POST">
    <input type="text" name="editPromptES" value="" placeholder="Escriba su consulta" />
    <br/>
    <input type="submit" value="Go" />
</form>
<form method="POST">
    <input type="text" name="editPromptPT" value="" placeholder="Escreva seu pedido" />
    <br/>
    <input type="submit" value="Go" />
</form>
<form method="POST">
    <input type="text" name="editPromptDT" value="" placeholder="Schreiben Sie Ihre Anfrage" />
    <br/>
    <input type="submit" value="Go" />
</form>
<form method="POST">
    <input type="text" name="editPromptFR" value="" placeholder="Écrivez votre demande" />
    <br/>
    <input type="submit" value="Go" />
</form>
<form method="POST">
    <input type="text" name="editPromptEN" value="" placeholder="Enter your query" />
    <br/>
    <input type="submit" value="Go" />
</form>
-->

<section th:each="item: ${data}">
    <p>TaskId: [[${item.taskId}]]</p>
    <p th:if="${not #strings.isEmpty(item.prompt)}">Prompt: [[${item.prompt}]]</p>
    <p th:if="${not #strings.isEmpty(item.response)}">Response: [[${item.response}]]</p>
    <p th:if="${not #strings.isEmpty(item.error)}">Error: [[${item.error}]]</p>
    <p>Status: [[${item.status}]]</p>
</section>

<br/>
<br/>

</body>
</html>

